body {
  background-color: #e27e8d;
  text-align: center;
  
  font-family: 'Arvo', serif;
}

a {
  border-radius: 300px;
  background-color: lightpink;
  color: #fff;
  font-size: 16px;
  font-size: 1.6rem;
  transition: 250ms ease;
  text-align: center;
  text-shadow: none;
  cursor: pointer;
  font-weight: normal;
  padding: 0.8em 1.8em;
  min-width: 30%;
  line-height: 1.2;
  display: block;
  width: fit-content;
  margin: 15px auto;
  border: 5px solid white;
  text-decoration: none;
}

a:hover {
  background-color: #e47cce;
}

img.round {
  border-radius: 50%;
  max-height: 33vh;
  max-width: 75vw;
}

.jp {
  font-family: 'Kosugi Maru', sans-serif;
}
